@()

<style>
		.navbar-nav {
			margin-bottom: -60px;
		}

		.nav > li > a {
			font-size: 15px;
		}

</style>

<div class="page-header">
	<div class="banner">
		<div class="logo">
			<h1><span style="font-size: 30px"><b>TMBQ:</b> <span style="font-size: 25px">Targeted Metabolome Batch Quantification</span> </span>
				<font style="font-size: 23px">&nbsp;
				</font></h1>
		</div>
	</div>
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#coll" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="coll">
			<ul class="nav navbar-nav">
				<li><a href="@routes.AppController.toIndex()">Home</a></li>

			</ul>
		</div>
			<!--/.nav-collapse -->
	</nav>
</div>
