@()(implicit request: play.api.mvc.RequestHeader)
@main("Home-TMBQ") {

	<div class="row">
		<div class="form-group col-sm-12">
			<h2 class="page-heading"
			style="text-align: left;
				border-bottom: 5px solid #e9f3f4"></h2>
		</div>
	</div>

	<div class="row">

		<div class="tab-pane active" id="kegg">
			<form class="form-horizontal" method="get" id="form">

				<a target='_blank' style="display: none" id="hideA">&nbsp;</a>

				<div class="form-group">
					<label class="control-label col-sm-2">UPLC/TQ-MS platform vendor:</label>
					<div class="col-sm-4">
						<select class="form-control" name="kind" onchange="Mission.kindChange(this)">
							<option value="waters">Waters</option>
							<option value="agilent">Agilent</option>

						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2">Data file(*.zip):</label>
					<div class="col-sm-8">
						<input type="file" class="file control-label" name="dataFile"
						data-show-preview="false" accept=".zip"
						data-show-upload="false" >
						<span class="help-block"><a id="dataFileA" href=""><em>
							Example file</em></a></span>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2">Sample info config file（*.xlsx）:</label>
					<div class="col-sm-8">
						<input type="file" class="file control-label" name="sampleConfigFile"
						data-show-preview="false" accept=".xlsx"
						data-show-upload="false" >
						<span class="help-block"><a id="sampleFileA" href=""><em>
							Example file</em></a></span>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2">Compound info config file（*.xlsx）:</label>
					<div class="col-sm-8">
						<input type="file" class="file control-label" name="compoundConfigFile"
						data-show-preview="false" accept=".xlsx"
						data-show-upload="false" >
						<span class="help-block"><a id="compoundFileA" href=""><em>
							Example file</em></a></span>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2">Your email:</label>
					<div class="col-sm-3">
						<input name="email" type="email" class="form-control" maxlength="30"/>
					</div>
				</div>


				<div class="form-group">
					<div class="actions col-sm-offset-2 col-sm-2">
						<button type="button" class="btn btn-primary" style="width: 90%;" id="search" onclick="Mission.myRun">
							Run</button>
					</div>

					<div class="actions  col-sm-2">
						<button type="reset" class="btn btn-primary" style="width: 90%;">
							Reset</button>
					</div>

					<div class="actions  col-sm-2">
						<a href="@routes.AppController.downloadExampleData()?fileName=demo_data.zip" type="button" class="btn btn-primary" style="width: 90%;">
							Try our demo data</a>
					</div>
				</div>

			</form>


		</div>

	</div>
	<hr>

	<div class="row" style="margin: 15px 0px">
		<div  style="background: transparent;  padding: 12px 0px;">
			<div class="col-md-9">
				<div style="color: #555">
					Please contact: <a href="mailto:wjia@@cc.hawaii.edu">wjia@@cc.hawaii.edu</a>
					; <a href="mailto:chentianlu@@sjtu.edu.cn">chentianlu@@sjtu.edu.cn</a>
				</div>
			</div>

		</div>
	</div>

	<script>
			$(function () {
				Mission.init

			})

	</script>


}